:root {
  --primary-font: "Playfair Display", serif;
  --secondary-font: "Poppins", serif;
  --background-color: #f9fbfc;
  --primary-color: #a0dbdb;
}

body {
  background-color: var(--background-color);
}

.hero {
  text-align: center;
  padding: 130px 0;
  border: var(--primary-color) 10px solid;
}

h1,
h3 {
  font-family: var(--primary-font);
}

h1 {
  font-size: 80px;
}

h2 {
  font-family: var(--secondary-font);
  font-weight: 500;
}

h3 {
  font-size: 24px;
}

.btn-branding {
  font-family: var(--secondary-font);
  background: var(--primary-color);
  border-radius: 4px;
  color: var(--background-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding:hover {
  background: var(--primary-color);
  color: black;
}

p {
  font-family: var(--secondary-font);
  font-weight: 500;
  font-style: normal;
}
